.recipePage {

    
    &-details {
        max-width: 1400px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        
        &-img {
            max-width: 1400px;
            height: 600px;
            object-fit: cover;
            border: 3px solid black;
        }

        &-name {
            text-align: end;
            font-size: 1.5rem;
            font-family: sans-serif;
        }
        
        &-div {
            display: flex;
            border-top: 1px solid gray;
            padding-top: 2rem;
            width: 100%;
            margin-top: 2rem;

            &-rightSide {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                border-right: 1px solid gray;
                padding-right: 20px;

                &-title {
                    font-family: $suez-font;
                    font-size: 3rem;
                    margin-bottom: 3rem;
                    border-bottom: 1px solid black;
                }

                &-container {
                    display: block;
                    position: relative;
                    margin: 0 1.5rem 3.5rem 0;
                    cursor: pointer;
                    user-select: none;
                    // background-color: red;
    
                    &-ingredient {
                        position: absolute;
                        right: 30px;
                        top: -10px;
                        font-size: 2.2rem;
                        display: flex;
                        max-width: 700px;
                        min-width: 500px;
                        justify-content: flex-end;
                        font-family: $sans-serif;
                        text-align: end;
                    }

                    &:hover input ~ .recipePage-details-div-rightSide-container-checkmark {
                        background-color: $orange-light;
                        transition: .2s;
                    }
    
                    input {
                        display: none;
    
                        &:checked ~ .recipePage-details-div-rightSide-container-checkmark {
                            background-color: $main-color;
                        }
    
                        &:checked ~ .recipePage-details-div-rightSide-container-checkmark:after {
                            display: block;
                            position: absolute;
                        }
                    }
                    
                    &-checkmark {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 17px;
                        width: 17px;
                        background-color: white;
                        border: 2px solid black;
    
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 5px;
                            top: 2px;
                            width: 4px;
                            height: 8px;
                            border: solid white;
                            border-width: 0 1px 1px 0;
                            transform: rotate(45deg);
                        }
                    }
                }

                &-tags {
                    display: flex;
                    margin-top: 20px;
                    padding-right: 20px;

                    &-feature {
                        font-size: 1.5rem;
                        color: white;
                        background-color: black;
                        border-radius: 3px;
                        padding: 3px 10px;
                        margin: 3px;
                        transition: .3s;

                        &:hover {
                            color: $orange;
                            text-decoration: none;
                        }
                    }
                }
            }

            &-leftSide {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 10px;

                &-title {
                    font-family: $suez-font;
                    font-size: 3rem;
                    border-bottom: 1px solid black;
                }

                &-instructions {
                    max-width: 700px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    text-align: end;

                    label {

                        p {
                            font-size: 2rem;
                            font-family: $sans-serif;
                            display: flex;
                            align-items: baseline;
                            flex-direction: row-reverse;
            
                            span {
                                font-size: 3rem;
                                font-family: $suez-font;
                                margin: 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }

}

.instructions-text {
    cursor: pointer;
}

#tag-icon {
    font-size: 3rem;
}

#btnControl0, 
#btnControl1, 
#btnControl2, 
#btnControl3, 
#btnControl4, 
#btnControl5, 
#btnControl6, 
#btnControl7, {
    display: none;
}

#btnControl0:checked + label > p,
#btnControl1:checked + label > p,
#btnControl2:checked + label > p,
#btnControl3:checked + label > p,
#btnControl4:checked + label > p,
#btnControl5:checked + label > p,
#btnControl6:checked + label > p,
#btnControl7:checked + label > p {
    color: $red;
    text-decoration: line-through;
}