* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans Hebrew",Arial,Helvetica,sans-serif;
}

html {
    font-size: 62.5%;
    width: 100%;
    height:  100%;
    overflow-x:hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    font-family: "Open Sans Hebrew",Arial,Helvetica,sans-serif;
}

body::before {
    height: 60px;
    content: " ";
    width: 100%;
    display: block;
}
