.contactPage {
    max-width: 850px;
    margin: 1rem auto;

    &-locationDetails {
        display: flex;
        justify-content: space-between;
        margin: 3rem 0;

        @media screen and (max-width: 870px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

// d-flex 
// justify-content-between 
// my-5 
// flex-column 
// align-items-center 
// flex-lg-row