
.navBar {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0px;
    background-color: $main-color;
    height: 70px;

    &__section {
        display: flex;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
        
        &-leftSide {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;
    
            &-logo {
                width: 25rem;
                margin-left: 1rem;

                @media screen and(max-width: 600px) {
                    width: 20rem;
                }
            }
        }
    
        &-rightSide {
            display: flex;
            align-items: center;

            @media screen and(max-width: 1000px) {
                display: none;
            }
    
            &-category {
                color: $main-color;
                color: $white;
                font-weight: 100;
                position: relative;
    
                &:hover {
                    cursor: pointer; 
                }
    
                &-dropDown {
                    display: none;
                    font-size: $medium-size;
                    border-bottom: 5px solid $main-color;
                    border-top: 6px solid $main-color;
                    font-weight: 300;
                    position: absolute;
                    width: 210px;
                    background-color: $yellow;
                    right: 0%;
                    top: 100%;
                    z-index: 20;
                }
            }

            &-icons {
                display: flex;
                align-items: center;

                &-cart {
                    position: relative;

                    &-totalInCart {
                        position: absolute;
                        left: 19px;
                        color: $white;
                        top: -10px;
                        
                        @media screen and(max-width: 1000px) {
                            display: none;
                        }
                    }

                }
            }
        }
    }
}


.navBar__section-rightSide-category:hover > .navBar__section-rightSide-category-dropDown {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}


#cart-logo,
#search-button {
    color: $white;
    font-size: 2.5rem;
    border-left: 2px solid $white;
    padding: 0 0.8rem;

    @media screen and(max-width: 1000px) {
        display: none;
    }
}


#cart-logo {
    border-left: 0;
}

#cart-logo:hover,
#search-button:hover {
    color: $yellow;
}

#Link {
    text-decoration: none;
    padding: 2.1rem 3rem;
    font-size: $medium-size;
    transition: .3s;
}

#Link:hover {
    transform: scale(1.1);
    color: $yellow;
}

#Link2 {
    background-color: black;
    text-decoration: none;
    font-size: $medium-size;
    color: white;
    text-align: start;
    padding: 13px 10px;
    // border-bottom: 1px solid grey;
    transition: .3s;
}

#Link2:last-child {
    border: 0;
    margin-bottom: 0px;
}

#Link2:hover {
    color: $yellow;
    background-color: $grey-dark2;
    transform: translateX(-15px);
}

.hamburger {
    padding: 15px 15px;
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 

    @media screen and(max-width: 1000px) {
        display: inline-block;
    }
}
    .hamburger:focus {
        outline: none;
    }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: white; }
  
    .hamburger-box {
        width: 25px;
        height: 24px;
        display: inline-block;
        position: relative; 
    }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 30px;
        height: 2px;
        background-color: white;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease; 
    }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
        top: -8px; 
    }
    .hamburger-inner::after {
        bottom: -8px; 
    }
      /*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--squeeze .hamburger-inner::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
    .hamburger--squeeze .hamburger-inner::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--squeeze.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
    .hamburger--squeeze.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  