.rightSideContent {
    height: 350px;
    width: 48%;
    background-image: url("https://www.hamiltonbeach.com/media/article_images/vegetarian-approved-game-day-menu/vegetarian-approved-game-day_article-menu-1400-cta.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}