.footer {
    border-top: 6px solid $main-color;
    background-color: rgb(235, 235, 235);

    &__section {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        padding: 5rem 0 3.5rem 0;

        @media screen and (max-width: 1440px) {
            justify-content: space-around;
        }

        @media screen and (max-width: 620px) {
            flex-direction: column;
            align-items: center;
        }


        &-companyDetails {
            display: flex;
            flex-direction: column;
            text-align: end;
            width: 25%;

            @media screen and (max-width: 700px) {
                width: 40%;
            }

            @media screen and (max-width: 620px) {
                width: 80%;
                margin-bottom: 2rem;
                // text-align: center;
            }


            &-title {
                font-size: 2.5rem;
                font-weight: 600;
                text-decoration: underline;

                @media screen and (max-width: 620px) {
                    text-align: center;
                }
            }

            p {
                font-size: 1.8rem;
                font-weight: 300;
                text-align: end;

                @media screen and (max-width: 620px) {
                    text-align: center;
                }
            }
        }

        &-socialMedia {
            display: flex;
            flex-direction: column;
            text-align: end;
            width: 25%;

            @media screen and (max-width: 700px) {
                width: 40%;
            }

            @media screen and (max-width: 620px) {
                text-align: center;
                width: 100%;
            }

            &-title {
                font-size: 2.5rem;
                font-weight: 600;
                text-decoration: underline;
            }

            &-div {

                @media screen and (max-width: 620px) {
                    display: flex;
                    justify-content: center;
                }

                a {
                    font-size: 3rem;
                    text-align: center;
                    width: 45px;
                    height: 45px;
                    background-color: $main-color;
                    border-radius: 50%;
                    padding: 7px 2px;
                    margin-left: 13px;
                    margin-top: 5px;
                    color: white;
                    transition: .3s;

                    @media screen and (max-width: 620px) {
                        min-width: 45px;
                        height: 45px;
                    }

                    &:first-child {
                        @media screen and (max-width: 620px) {
                            margin-left: 0;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        box-shadow: 1px 5px 10px gray;
                        transform: scale(1.1);
                        text-decoration: none;
        
                        &:first-child {
                            background: #337ab7;
                        }

                        &:nth-child(2) {
                            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
                        }

                        
                        &:nth-child(3) {
                            background: #38A1F3;
                        }

                        &:last-child {
                            background: #BD081C
                            ;
                        }
                    }

                }
                
            }
        }

        &-websites {
            display: flex;
            flex-direction: column;
            text-align: end;
            width: 25%;

            @media screen and (max-width: 700px) {
                display: none;
            }

            &-title {
                font-size: 2.5rem;
                font-weight: 600;
                text-decoration: underline;
            }

            &-div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                &-brandName {
                    font-size: 1.8rem;
                    font-weight: 300;
                    text-align: center;
                    color: black;
                    margin-bottom: 1rem;

                    &:hover {
                        color: gray;
                    }
                }
            }
        }

        &-navigation {
            display: flex;
            flex-direction: column;
            text-align: end;
            width: 25%;

            @media screen and (max-width: 940px) {
                display: none;
            }

            &-title {
                font-size: 2.5rem;
                font-weight: 600;
                text-decoration: underline;
            }

            p {
                color: black;
                font-size: 1.8rem;
                transition: .3s;

                &:hover {
                    color: gray;
                }
            }
        }
    }

    &-copyright {
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 1.6rem;
        font-weight: 100;
        margin: 0;
        font-family: $suez-font;
        letter-spacing: 1px;
        background-color: $main-color;
        padding: 20px 0;
    }
}