.products {
    max-width: 1400px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__section {
        display: flex;
        flex-direction: column;
        
        &-top,
        &-bottom {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 1400px) {
                flex-direction: column;
                align-items: center;
            }
            
            &-product {
                display: flex;
                margin-bottom: 1rem;
                width: 50%;
                color: black;
                overflow-y: hidden;
                
                &:hover {
                    text-decoration: none;
                    color: black;
                }

                @media screen and (max-width: 1400px) {
                    width: 100%;
                }

                @media screen and (max-width: 660px) {
                    flex-direction: column;
                    align-items: center;
                }
                
                
                &-img {
                    width: 50%;
                    height: 100%;
                    border: 2px solid $grey-light;
                    object-fit: cover;

                    @media screen and (max-width: 1400px) {
                        width: 50%;
                    }

                    @media screen and (max-width: 940px) {
                        width: 370px;
                    }

                    @media screen and (max-width: 661px) {
                        flex-direction: column;
                        width: 100%;
                    }

                }
                
                &-details {
                    background-color: $grey-light;
                    display: flex;
                    flex-direction: column;
                    padding: 0 1rem 1rem 1rem;
                    text-align: end;
                    width: 100%;

                    @media screen and (max-width: 1400px) {
                        width: 100%;
                    }

                    @media screen and (max-width: 940px) {
                        flex-direction: column;
                    }
    
                    &-category {
                        font-size: 4rem;
                        font-weight: 700;
                        margin-top: 15px;
                        font-family: $suez-font;
                        letter-spacing: 1px;
                    }
                    
                    &-description {
                        font-size: 1.7rem;
                    }
                    
                    &-model {
                        font-size: 2rem;
                        font-weight: 100;
                        color: grey;
                        flex: 1;
                    }
    
                    &-lastPrice {
                        text-decoration: line-through;
                        margin: 0;
                        font-size: 1.4rem;
                        font-weight: 100;
                        color: #06c;
                        transform: skew(-10deg);
                    }
    
                    &-price {
                        font-size: 3rem;
                        margin: 0;
                        font-weight: 100;
                        letter-spacing: -2px;
                        color: #06c;
                        transform: skew(-15deg);
                    }
    
                    &-save {
                        font-size: 1.8rem;
                        font-weight: 100;
                        color: #06c;
                        transform: skew(-10deg);
                    }   
    
                    &-cart {
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        position: relative;
                        overflow: hidden;
                        padding: 1rem 3rem;
                        color: $white;
                        font-weight: 700;
                        background-color: #c82027;
                        transition-duration: 0.3s;
                        font-size: 1.5rem;
                        cursor: pointer;
                        display: flex;
                        // width: 130px;
                        margin-left: auto;
                        justify-content: center;
    
                        &:before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: rgba(53, 53, 53, 0.137);
                            border-radius: 100%;
                            transform: scale(0);
                            transition-property: transform;
                            transition-duration: 0.6s;
                            transition-timing-function: ease-out;
                        }
                    }
                }
            }
        }
    }
}

.products-button {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 10px 90px;
    font-size: 2rem;
    transition: .5s;
    border-radius: 3px;
    color: $main-color;
    border: 2px solid $main-color;
    font-weight: 600;

    &:hover {
        box-shadow: 1px 5px 10px gray;
        cursor: pointer;
        color: white;
        background-color: $main-color;
        text-decoration: none;
    }
    
}

  .products__section-product-details-cart:hover:before, 
  .products__section-product-details-cart:focus:before, 
  .products__section-product-details-cart:active:before {
    transform: scale(2);
  }