.productHeader {

    &__section {
        width: 100%;
        height: 380px;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-items: center;
        position: relative;

        &-type {
            font-size: 1.8rem;
            padding: 2px 5px;
            background-color: #fc0;
            font-family: "Suez One", serif;
            z-index: 10;
        }

        &-title {
            color: white;
            margin-bottom: 20px;
            font-family: $suez-font;
            font-size: 7rem;
            text-shadow: 1px 2px 5px gray;
            text-align: center;
            z-index: 10;
        }

        &-properties {
            display: flex;
            z-index: 10;

            p {
                color: white;
                border-left: 1px solid white;
                font-size: 1.8rem;
                padding: 0 5px;
                margin-left: 3px;

                &:first-child {
                    border: 0px;
                }
            }

            span {
                color: white;
                font-size: 1.8rem;
            }
        }
    }
}