.leftSideContent {
    height: 350px;
    width: 48%;
    background-image: url("https://www.hamiltonbeach.com/media/article_images/food-prep/food-prep-favorites-banner-cta.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}