@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body::before {
  height: 60px;
  content: " ";
  width: 100%;
  display: block; }

@keyframes moveUp {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -50px); } }

@keyframes moveLeft {
  0% {
    width: 0; }
  100% {
    width: 330px;
    border-bottom: 1px solid #fc0; } }

.footer {
  border-top: 6px solid #000000;
  background-color: #ebebeb; }
  .footer__section {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 5rem 0 3.5rem 0; }
    @media screen and (max-width: 1440px) {
      .footer__section {
        justify-content: space-around; } }
    @media screen and (max-width: 620px) {
      .footer__section {
        flex-direction: column;
        align-items: center; } }
    .footer__section-companyDetails {
      display: flex;
      flex-direction: column;
      text-align: end;
      width: 25%; }
      @media screen and (max-width: 700px) {
        .footer__section-companyDetails {
          width: 40%; } }
      @media screen and (max-width: 620px) {
        .footer__section-companyDetails {
          width: 80%;
          margin-bottom: 2rem; } }
      .footer__section-companyDetails-title {
        font-size: 2.5rem;
        font-weight: 600;
        text-decoration: underline; }
        @media screen and (max-width: 620px) {
          .footer__section-companyDetails-title {
            text-align: center; } }
      .footer__section-companyDetails p {
        font-size: 1.8rem;
        font-weight: 300;
        text-align: end; }
        @media screen and (max-width: 620px) {
          .footer__section-companyDetails p {
            text-align: center; } }
    .footer__section-socialMedia {
      display: flex;
      flex-direction: column;
      text-align: end;
      width: 25%; }
      @media screen and (max-width: 700px) {
        .footer__section-socialMedia {
          width: 40%; } }
      @media screen and (max-width: 620px) {
        .footer__section-socialMedia {
          text-align: center;
          width: 100%; } }
      .footer__section-socialMedia-title {
        font-size: 2.5rem;
        font-weight: 600;
        text-decoration: underline; }
      @media screen and (max-width: 620px) {
        .footer__section-socialMedia-div {
          display: flex;
          justify-content: center; } }
      .footer__section-socialMedia-div a {
        font-size: 3rem;
        text-align: center;
        width: 45px;
        height: 45px;
        background-color: #000000;
        border-radius: 50%;
        padding: 7px 2px;
        margin-left: 13px;
        margin-top: 5px;
        color: white;
        transition: .3s; }
        @media screen and (max-width: 620px) {
          .footer__section-socialMedia-div a {
            min-width: 45px;
            height: 45px; } }
        @media screen and (max-width: 620px) {
          .footer__section-socialMedia-div a:first-child {
            margin-left: 0; } }
        .footer__section-socialMedia-div a:hover {
          cursor: pointer;
          box-shadow: 1px 5px 10px gray;
          transform: scale(1.1);
          text-decoration: none; }
          .footer__section-socialMedia-div a:hover:first-child {
            background: #337ab7; }
          .footer__section-socialMedia-div a:hover:nth-child(2) {
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); }
          .footer__section-socialMedia-div a:hover:nth-child(3) {
            background: #38A1F3; }
          .footer__section-socialMedia-div a:hover:last-child {
            background: #BD081C; }
    .footer__section-websites {
      display: flex;
      flex-direction: column;
      text-align: end;
      width: 25%; }
      @media screen and (max-width: 700px) {
        .footer__section-websites {
          display: none; } }
      .footer__section-websites-title {
        font-size: 2.5rem;
        font-weight: 600;
        text-decoration: underline; }
      .footer__section-websites-div {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .footer__section-websites-div-brandName {
          font-size: 1.8rem;
          font-weight: 300;
          text-align: center;
          color: black;
          margin-bottom: 1rem; }
          .footer__section-websites-div-brandName:hover {
            color: gray; }
    .footer__section-navigation {
      display: flex;
      flex-direction: column;
      text-align: end;
      width: 25%; }
      @media screen and (max-width: 940px) {
        .footer__section-navigation {
          display: none; } }
      .footer__section-navigation-title {
        font-size: 2.5rem;
        font-weight: 600;
        text-decoration: underline; }
      .footer__section-navigation p {
        color: black;
        font-size: 1.8rem;
        transition: .3s; }
        .footer__section-navigation p:hover {
          color: gray; }
  .footer-copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 100;
    margin: 0;
    font-family: "Suez One", serif;
    letter-spacing: 1px;
    background-color: #000000;
    padding: 20px 0; }

.navBar {
  border-bottom: 6px solid #000000;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0px;
  background-color: #000000;
  height: 70px; }
  .navBar__section {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto; }
    .navBar__section-leftSide {
      display: flex;
      align-items: center;
      padding: 2.1rem 0;
      flex: 1; }
      .navBar__section-leftSide-logo {
        width: 25rem;
        margin-left: 1rem; }
    .navBar__section-rightSide {
      display: flex;
      align-items: center; }
      @media screen and (max-width: 1000px) {
        .navBar__section-rightSide {
          display: none; } }
      .navBar__section-rightSide-category {
        color: #000000;
        color: #ffffff;
        font-weight: 100;
        position: relative; }
        .navBar__section-rightSide-category:hover {
          cursor: pointer; }
        .navBar__section-rightSide-category-dropDown {
          display: none;
          font-size: 1.5rem;
          border-bottom: 5px solid #000000;
          border-top: 6px solid #000000;
          font-weight: 300;
          position: absolute;
          width: 210px;
          background-color: #fc0;
          right: 0%;
          top: 100%;
          z-index: 20; }
      .navBar__section-rightSide-icons {
        display: flex;
        align-items: center; }

.navBar__section-rightSide-category:hover > .navBar__section-rightSide-category-dropDown {
  display: flex;
  flex-direction: column;
  justify-content: baseline; }

#cart-logo,
#search-button {
  color: #ffffff;
  font-size: 2.5rem;
  border-left: 2px solid #ffffff;
  padding: 0 0.8rem; }
  @media screen and (max-width: 1000px) {
    #cart-logo,
    #search-button {
      display: none; } }

#navigation-icon {
  font-size: 4rem;
  color: #ffffff;
  padding: 0 0.8rem;
  display: none;
  cursor: pointer;
  transition: .3s; }
  #navigation-icon:hover, #navigation-icon:active {
    color: grey; }
  @media screen and (max-width: 1000px) {
    #navigation-icon {
      display: flex; } }

#cart-logo {
  border-left: 0; }

#cart-logo:hover,
#search-button:hover {
  color: #fc0; }

#Link {
  text-decoration: none;
  padding: 2.1rem 3rem;
  font-size: 1.5rem;
  transition: .3s; }

#Link:hover {
  transform: scale(1.1);
  color: #fc0; }

#Link2 {
  background-color: #666;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000000;
  text-align: end;
  padding: 13px 10px;
  border-bottom: 1px solid grey;
  transition: .3s; }

#Link2:last-child {
  border: 0;
  margin-bottom: 0px; }

#Link2:hover {
  color: #fc0;
  background-color: #383838;
  transform: translateX(-15px); }

.hiddenNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: 5px solid black;
  background-color: #fc0; }
  @media screen and (min-width: 1001px) {
    .hiddenNav {
      display: none; } }
  .hiddenNav-category1, .hiddenNav-category2, .hiddenNav-category3, .hiddenNav-category4, .hiddenNav-category5 {
    background-color: white;
    text-align: end;
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    color: black;
    background-color: #666;
    border-bottom: 1px solid grey;
    transition: .3s; }
    .hiddenNav-category1:hover, .hiddenNav-category1:active, .hiddenNav-category2:hover, .hiddenNav-category2:active, .hiddenNav-category3:hover, .hiddenNav-category3:active, .hiddenNav-category4:hover, .hiddenNav-category4:active, .hiddenNav-category5:hover, .hiddenNav-category5:active {
      color: #fc0;
      cursor: pointer;
      text-decoration: none;
      background-color: #242424;
      transform: translateX(-15px); }
  .hiddenNav-dropDown {
    display: none;
    width: 100%;
    background-color: #fc0;
    align-items: flex-end;
    flex-direction: column; }
  .hiddenNav-categorySearch {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
    font-size: 2.2rem;
    width: 100%;
    padding: 1rem;
    color: black;
    background-color: #666;
    border-bottom: 1px solid grey;
    transition: .3s; }
    .hiddenNav-categorySearch:hover > #search-button-hidden,
    .hiddenNav-categorySearch:hover > input::placeholder {
      color: #fc0;
      cursor: pointer; }
    .hiddenNav-categorySearch input {
      background-color: #666;
      border: 0;
      text-align: end;
      margin-right: 1rem;
      outline: none; }
      .hiddenNav-categorySearch input:focus {
        animation-duration: 0.3s;
        animation-name: moveLeft;
        animation-fill-mode: forwards;
        border-bottom: 1px solid #fc0;
        width: 330px; }
        .hiddenNav-categorySearch input:focus + #search-button-hidden {
          color: #fc0; }
        .hiddenNav-categorySearch input:focus::placeholder {
          color: #fc0; }

#search-button-hidden {
  background-color: white;
  font-size: 3rem;
  color: black;
  background-color: #666; }
  #search-button-hidden:hover {
    cursor: pointer; }

#Link5 {
  color: black;
  font-size: 1.8rem;
  background-color: #666;
  width: 100%;
  text-align: end;
  padding: 1rem 2.5rem 1rem 0;
  transition: .3s; }
  #Link5:hover {
    text-decoration: none;
    color: #fc0;
    transform: translateX(-15px);
    background-color: #242424;
    padding-right: 1rem; }

.displayChange {
  display: flex; }

.linkStyleChange {
  text-decoration: none;
  color: #fc0;
  background-color: #242424;
  padding-right: 1rem; }

/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.slider {
  width: 100%;
  height: 820px;
  position: relative;
  margin-top: 1rem; }
  .slider-input {
    display: none; }

.inner {
  width: 500%; }

article {
  width: 20%;
  float: left;
  position: relative; }

article img {
  width: 100%;
  height: 760px;
  object-fit: cover; }

/*---- SET UP CONTROL ----*/
.slider-arrows {
  height: 50px;
  position: absolute;
  top: 20%;
  width: 100%;
  z-index: 10; }

.slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center; }

.slider-dot-control label {
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid black;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background: #bbb;
  transition: all 0.3s; }

.slider-dot-control label:hover {
  background: #ccc;
  border-color: #777; }

/* Slider Styling */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  transition: all 500ms ease-out; }

.slider-wrapper .inner {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1); }

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-arrows label:nth-child(2)::after,
#slide2:checked ~ .slider-arrows label:nth-child(3)::after,
#slide3:checked ~ .slider-arrows label:nth-child(4)::after,
#slide4:checked ~ .slider-arrows label:nth-child(5)::after,
#slide5:checked ~ .slider-arrows label:nth-child(1)::after,
#slide2:checked ~ .slider-arrows label:nth-child(1)::after,
#slide3:checked ~ .slider-arrows label:nth-child(2)::after,
#slide4:checked ~ .slider-arrows label:nth-child(3)::after,
#slide5:checked ~ .slider-arrows label:nth-child(4)::after,
#slide1:checked ~ .slider-arrows label:nth-child(5)::after {
  font-size: 5rem;
  display: block;
  color: black;
  margin: 0 10px; }

#slide1:checked ~ .slider-arrows label:nth-child(2)::after,
#slide2:checked ~ .slider-arrows label:nth-child(3)::after,
#slide3:checked ~ .slider-arrows label:nth-child(4)::after,
#slide4:checked ~ .slider-arrows label:nth-child(5)::after,
#slide5:checked ~ .slider-arrows label:nth-child(1)::after {
  content: '\02F2';
  cursor: pointer;
  font-size: 20rem;
  color: white; }

#slide1:checked ~ .slider-arrows label:nth-child(2),
#slide2:checked ~ .slider-arrows label:nth-child(3),
#slide3:checked ~ .slider-arrows label:nth-child(4),
#slide4:checked ~ .slider-arrows label:nth-child(5),
#slide5:checked ~ .slider-arrows label:nth-child(1) {
  display: block;
  float: right; }

#slide2:checked ~ .slider-arrows label:nth-child(1)::after,
#slide3:checked ~ .slider-arrows label:nth-child(2)::after,
#slide4:checked ~ .slider-arrows label:nth-child(3)::after,
#slide5:checked ~ .slider-arrows label:nth-child(4)::after,
#slide1:checked ~ .slider-arrows label:nth-child(5)::after {
  content: "\02F1";
  cursor: pointer;
  font-size: 20rem;
  color: white; }

#slide1:checked ~ .slider-dot-control label:nth-child(1),
#slide2:checked ~ .slider-dot-control label:nth-child(2),
#slide3:checked ~ .slider-dot-control label:nth-child(3),
#slide4:checked ~ .slider-dot-control label:nth-child(4),
#slide5:checked ~ .slider-dot-control label:nth-child(5) {
  background: #333;
  transform: scale(1.3);
  margin: 0 5px; }

#slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0%; }

#slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%; }

#slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%; }

#slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%; }

#slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%; }

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0; } }

/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
  .slider-wrapper {
    border-radius: 0; }
  .slider-wrapper .info {
    opacity: 0; } }

.trending {
  display: flex;
  margin: 3rem auto;
  max-width: 1400px;
  overflow: hidden; }
  .trending-space {
    width: 4%; }

.leftSideContent {
  height: 350px;
  width: 48%;
  background-image: url("https://www.hamiltonbeach.com/media/article_images/food-prep/food-prep-favorites-banner-cta.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.rightSideContent {
  height: 350px;
  width: 48%;
  background-image: url("https://www.hamiltonbeach.com/media/article_images/vegetarian-approved-game-day-menu/vegetarian-approved-game-day_article-menu-1400-cta.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.recipes {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .recipes-line {
    display: flex;
    align-items: center;
    margin: 4rem 0; }
    .recipes-line-hr {
      width: 100%;
      height: 1px;
      background-color: #afafaf; }
    .recipes-line-header {
      font-family: "Suez One", serif;
      background-color: #000000;
      color: white;
      transform: skew(-20deg);
      padding: 3px 20px;
      font-size: 2.2rem;
      margin: 0 5px;
      letter-spacing: 2px; }
  .recipes-container {
    max-width: 1400px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 750px) {
      .recipes-container {
        flex-direction: column; } }
    .recipes-container-recipe {
      overflow: hidden;
      position: relative; }
      .recipes-container-recipe:last-child {
        margin-left: 1rem; }
        @media screen and (max-width: 1400px) {
          .recipes-container-recipe:last-child {
            display: none; } }
      .recipes-container-recipe:nth-child(2) {
        margin-left: 1rem; }
        @media screen and (max-width: 750px) {
          .recipes-container-recipe:nth-child(2) {
            margin-left: 0;
            margin-top: 1rem; } }
      .recipes-container-recipe-title {
        display: none;
        position: absolute;
        top: 61%;
        left: 42%;
        font-size: 2rem;
        padding: 2px 5px;
        background-color: white;
        z-index: 10; }
      .recipes-container-recipe-img {
        max-width: 100%;
        transform-origin: 50% 100%;
        transition: .3s; }
        .recipes-container-recipe-img:hover {
          transform: scale(1.1); }
      .recipes-container-recipe-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000;
        width: 100%; }
        .recipes-container-recipe-description-title {
          color: white;
          margin-top: 5rem;
          font-size: 2.2rem; }
        .recipes-container-recipe-description-recipe {
          display: flex;
          margin-bottom: 4rem; }
          .recipes-container-recipe-description-recipe p {
            color: white;
            border-left: 1px solid white;
            font-size: 1.4rem;
            padding: 0 5px;
            margin-left: 3px; }
            .recipes-container-recipe-description-recipe p:first-child {
              border: 0px; }
          .recipes-container-recipe-description-recipe span {
            color: white;
            font-size: 1.4rem; }
  .recipes-button {
    margin: 30px auto;
    padding: 10px 90px;
    font-size: 2rem;
    transition: .5s;
    border-radius: 3px;
    color: #000000;
    border: 2px solid #000000;
    font-weight: 600; }
    .recipes-button:hover {
      box-shadow: 1px 5px 10px gray;
      cursor: pointer;
      color: white;
      background-color: #000000;
      text-decoration: none; }

.products {
  max-width: 1400px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .products__section {
    display: flex;
    flex-direction: column; }
    .products__section-top, .products__section-bottom {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 1400px) {
        .products__section-top, .products__section-bottom {
          flex-direction: column;
          align-items: center; } }
      .products__section-top-product, .products__section-bottom-product {
        display: flex;
        margin-bottom: 1rem; }
        @media screen and (max-width: 1400px) {
          .products__section-top-product, .products__section-bottom-product {
            width: 100%; } }
        @media screen and (max-width: 660px) {
          .products__section-top-product, .products__section-bottom-product {
            flex-direction: column;
            align-items: center; } }
        .products__section-top-product-img, .products__section-bottom-product-img {
          width: 50%;
          height: 100%;
          border: 2px solid #ebebeb; }
          @media screen and (max-width: 1400px) {
            .products__section-top-product-img, .products__section-bottom-product-img {
              width: 50%; } }
          @media screen and (max-width: 940px) {
            .products__section-top-product-img, .products__section-bottom-product-img {
              width: 370px; } }
          @media screen and (max-width: 661px) {
            .products__section-top-product-img, .products__section-bottom-product-img {
              flex-direction: column;
              width: 100%; } }
        .products__section-top-product-details, .products__section-bottom-product-details {
          background-color: #ebebeb;
          display: flex;
          flex-direction: column;
          padding: 0 1rem 1rem 1rem;
          text-align: end;
          width: 100%; }
          @media screen and (max-width: 1400px) {
            .products__section-top-product-details, .products__section-bottom-product-details {
              width: 100%; } }
          @media screen and (max-width: 940px) {
            .products__section-top-product-details, .products__section-bottom-product-details {
              flex-direction: column; } }
          .products__section-top-product-details-category, .products__section-bottom-product-details-category {
            font-size: 4rem;
            font-weight: 700;
            margin-top: 15px;
            font-family: "Suez One", serif;
            letter-spacing: 1px; }
          .products__section-top-product-details-description, .products__section-bottom-product-details-description {
            font-size: 1.7rem; }
          .products__section-top-product-details-model, .products__section-bottom-product-details-model {
            font-size: 2rem;
            font-weight: 100;
            color: grey;
            flex: 1; }
          .products__section-top-product-details-lastPrice, .products__section-bottom-product-details-lastPrice {
            text-decoration: line-through;
            margin: 0;
            font-size: 1.4rem;
            font-weight: 100;
            color: #06c;
            transform: skew(-10deg); }
          .products__section-top-product-details-price, .products__section-bottom-product-details-price {
            font-size: 3rem;
            margin: 0;
            font-weight: 100;
            letter-spacing: -2px;
            color: #06c;
            transform: skew(-15deg); }
          .products__section-top-product-details-save, .products__section-bottom-product-details-save {
            font-size: 1.8rem;
            font-weight: 100;
            color: #06c;
            transform: skew(-10deg); }
            @media screen and (min-width: 1400px) {
              .products__section-top-product-details-save, .products__section-bottom-product-details-save {
                display: none; } }
            @media screen and (max-width: 940px) {
              .products__section-top-product-details-save, .products__section-bottom-product-details-save {
                display: none; } }
            @media screen and (max-width: 660px) {
              .products__section-top-product-details-save, .products__section-bottom-product-details-save {
                display: block; } }
          .products__section-top-product-details-cart, .products__section-bottom-product-details-cart {
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            overflow: hidden;
            padding: 1rem 3rem;
            color: #ffffff;
            font-weight: 700;
            background-color: #c82027;
            transition-duration: 0.3s;
            font-size: 1.5rem;
            cursor: pointer;
            display: flex;
            margin-left: auto;
            justify-content: center; }
            .products__section-top-product-details-cart:before, .products__section-bottom-product-details-cart:before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(53, 53, 53, 0.137);
              border-radius: 100%;
              transform: scale(0);
              transition-property: transform;
              transition-duration: 0.6s;
              transition-timing-function: ease-out; }

.products-button {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  padding: 10px 90px;
  font-size: 2rem;
  transition: .5s;
  border-radius: 3px;
  color: #000000;
  border: 2px solid #000000;
  font-weight: 600; }
  .products-button:hover {
    box-shadow: 1px 5px 10px gray;
    cursor: pointer;
    color: white;
    background-color: #000000;
    text-decoration: none; }

.products__section-product-details-cart:hover:before,
.products__section-product-details-cart:focus:before,
.products__section-product-details-cart:active:before {
  transform: scale(2); }

.about__section {
  width: 100%;
  height: 380px;
  margin-top: 1rem;
  background-color: #666;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.hamiltonbeach.com/media/campaigns/support-banner-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; }
  .about__section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6; }
  .about__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    font-family: "Suez One", serif;
    z-index: 10; }
  .about__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center;
    z-index: 10; }

.about-main {
  max-width: 1400px;
  margin: 1rem auto;
  padding: 40px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }
  .about-main-title {
    font-size: 2.6rem;
    font-family: "Suez One", serif;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: end; }
  .about-main-paragraph {
    font-size: 1.8rem;
    text-align: end;
    margin-right: 20px; }

#website-link {
  font-weight: 700;
  color: #ff3c3c; }

.allRecipes__section {
  width: 100%;
  height: 380px;
  margin-top: 1rem;
  background-color: #ffb43c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.hamiltonbeach.com/media/cat-headers/category_banner_recipes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; }
  .allRecipes__section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4; }
  .allRecipes__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    box-shadow: 1px 2px 1px black;
    font-family: "Suez One", serif;
    z-index: 10; }
  .allRecipes__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center;
    z-index: 10; }

.allRecipes-shortDescription {
  max-width: 1400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .allRecipes-shortDescription-title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: end; }
  .allRecipes-shortDescription-text {
    font-size: 2rem;
    color: grey;
    text-align: end; }

.allRecipes-filterTitle {
  max-width: 1400px;
  margin: 0rem auto;
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: end;
  text-decoration: underline; }

.allRecipes-recipesPart {
  max-width: 1400px;
  margin: 1rem auto; }
  .allRecipes-recipesPart-rightSide {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 25%;
    margin-left: auto; }
    .allRecipes-recipesPart-rightSide-div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-items: center;
      width: 100%; }
      .allRecipes-recipesPart-rightSide-div-text {
        background-color: #ff3c3c;
        width: 50%; }
      .allRecipes-recipesPart-rightSide-div p {
        margin: 0;
        transition: .3s;
        background-color: #ebebeb;
        text-align: end;
        padding: 1rem 2rem 1rem 0;
        font-size: 1.5rem;
        border: 1px solid black;
        color: #000000; }
        .allRecipes-recipesPart-rightSide-div p:hover {
          transform: translateX(-15px);
          font-weight: 900; }

#recipe-type {
  transition: .3s; }
  #recipe-type:hover {
    text-decoration: none; }

.recipePage-details {
  max-width: 1400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column; }
  .recipePage-details-img {
    max-width: 1400px;
    height: 600px;
    object-fit: cover;
    border: 3px solid black; }
  .recipePage-details-name {
    text-align: end;
    font-size: 1.5rem;
    font-family: sans-serif; }
  .recipePage-details-div {
    display: flex;
    border-top: 1px solid gray;
    padding-top: 2rem;
    width: 100%;
    margin-top: 2rem; }
    .recipePage-details-div-rightSide {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      border-right: 1px solid gray;
      padding-right: 20px; }
      .recipePage-details-div-rightSide-title {
        font-family: "Suez One", serif;
        font-size: 3rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid black; }
      .recipePage-details-div-rightSide-container {
        display: block;
        position: relative;
        margin: 0 1.5rem 3.5rem 0;
        cursor: pointer;
        user-select: none; }
        .recipePage-details-div-rightSide-container-ingredient {
          position: absolute;
          right: 30px;
          top: -10px;
          font-size: 2.2rem;
          display: flex;
          max-width: 700px;
          min-width: 500px;
          justify-content: flex-end;
          font-family: sans-serif;
          text-align: end; }
        .recipePage-details-div-rightSide-container:hover input ~ .recipePage-details-div-rightSide-container-checkmark {
          background-color: #ffdf76;
          transition: .2s; }
        .recipePage-details-div-rightSide-container input {
          display: none; }
          .recipePage-details-div-rightSide-container input:checked ~ .recipePage-details-div-rightSide-container-checkmark {
            background-color: #000000; }
          .recipePage-details-div-rightSide-container input:checked ~ .recipePage-details-div-rightSide-container-checkmark:after {
            display: block;
            position: absolute; }
        .recipePage-details-div-rightSide-container-checkmark {
          position: absolute;
          top: 0;
          right: 0;
          height: 17px;
          width: 17px;
          background-color: white;
          border: 2px solid black; }
          .recipePage-details-div-rightSide-container-checkmark:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 2px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg); }
      .recipePage-details-div-rightSide-tags {
        display: flex;
        margin-top: 20px;
        padding-right: 20px; }
        .recipePage-details-div-rightSide-tags-link {
          font-size: 2rem;
          color: white;
          background-color: black;
          border-radius: 3px;
          padding: 3px 10px;
          margin: 3px;
          transition: .3s; }
          .recipePage-details-div-rightSide-tags-link:hover {
            color: #ffb43c;
            text-decoration: none; }
    .recipePage-details-div-leftSide {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 10px; }
      .recipePage-details-div-leftSide-title {
        font-family: "Suez One", serif;
        font-size: 3rem;
        border-bottom: 1px solid black; }
      .recipePage-details-div-leftSide-instructions {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end; }
        .recipePage-details-div-leftSide-instructions label p {
          font-size: 2rem;
          font-family: sans-serif;
          display: flex;
          align-items: baseline;
          flex-direction: row-reverse; }
          .recipePage-details-div-leftSide-instructions label p span {
            font-size: 3rem;
            font-family: "Suez One", serif;
            margin: 0 10px; }

.instructions-text {
  cursor: pointer; }

#tag-icon {
  font-size: 3rem; }

#btnControl0,
#btnControl1,
#btnControl2,
#btnControl3,
#btnControl4,
#btnControl5,
#btnControl6,
#btnControl7 {
  display: none; }

#btnControl0:checked + label > p,
#btnControl1:checked + label > p,
#btnControl2:checked + label > p,
#btnControl3:checked + label > p,
#btnControl4:checked + label > p,
#btnControl5:checked + label > p,
#btnControl6:checked + label > p,
#btnControl7:checked + label > p {
  color: #ff3c3c;
  text-decoration: line-through; }

.recipeHeader__section {
  width: 100%;
  height: 380px;
  margin-top: 1rem;
  background-color: #666;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .recipeHeader__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    font-family: "Suez One", serif; }
  .recipeHeader__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center; }
  .recipeHeader__section-properties {
    display: flex; }
    .recipeHeader__section-properties p {
      color: white;
      border-left: 1px solid white;
      font-size: 1.8rem;
      padding: 0 5px;
      margin-left: 3px; }
      .recipeHeader__section-properties p:first-child {
        border: 0px; }
    .recipeHeader__section-properties span {
      color: white;
      font-size: 1.8rem; }

.productsPage__section {
  width: 100%;
  height: 380px;
  margin-top: 1rem;
  background-color: #666;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.hamiltonbeach.com/media/cat-headers/category_banner_hbpro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; }
  .productsPage__section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5; }
  .productsPage__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    font-family: "Suez One", serif;
    z-index: 10; }
  .productsPage__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center;
    z-index: 10; }

.productsPage-main {
  max-width: 1400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .productsPage-main-shortDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .productsPage-main-shortDescription-title {
      font-size: 2rem;
      font-weight: bolder;
      text-align: end; }
    .productsPage-main-shortDescription-text {
      font-size: 2rem;
      color: grey;
      text-align: end; }

.productPage {
  display: flex;
  flex-direction: column;
  margin-top: 1rem; }
  .productPage-accordion-line, .productPage-accordion-line2 {
    border: 1px solid grey;
    border-right: 0;
    border-left: 0;
    padding: 10px; }
    .productPage-accordion-line-btn, .productPage-accordion-line2-btn {
      font-size: 2.2rem;
      margin-left: 2rem;
      margin-bottom: 0;
      display: flex;
      align-items: center; }
      .productPage-accordion-line-btn:hover, .productPage-accordion-line2-btn:hover {
        cursor: pointer; }
    .productPage-accordion-line-div-title, .productPage-accordion-line2-div-title {
      font-size: 2rem; }
    .productPage-accordion-line-text, .productPage-accordion-line2-text {
      text-align: end; }
      .productPage-accordion-line-text-div, .productPage-accordion-line2-text-div {
        justify-content: flex-end;
        text-align: end; }

.productPage-accordion-line-btn:hover ~ .productPage-accordion-line-text-div {
  color: #ff3c3c; }

.productPage-accordion-line2 {
  margin-bottom: 3rem; }

#prev-arrow,
#next-arrow {
  color: #000000;
  font-size: 4rem; }

.card {
  border: none;
  padding-right: 0;
  padding-left: 4.5rem; }

.card-body {
  padding-right: 0; }

.card-title {
  font-size: 2.6rem;
  text-align: end;
  font-family: "Suez One", serif;
  margin-bottom: 2rem; }

.card-item-title {
  text-align: end;
  font-size: 5rem;
  font-family: "Suez One", serif; }

.card-text {
  font-size: 1.8rem;
  font-weight: 100;
  color: #06c;
  transform: skew(-10deg); }

.card-text-model {
  font-size: 2rem;
  font-weight: 100; }

.card-text-last {
  margin-top: auto;
  text-decoration: line-through;
  font-size: 1.4rem;
  font-weight: 100;
  color: #06c;
  transform: skew(-10deg); }

.card-text-price {
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: -2px;
  color: #06c;
  transform: skew(-15deg); }

.add-to-cart-btn {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #ffffff;
  font-weight: 700;
  background-color: #c82027;
  transition-duration: 0.3s;
  font-size: 2rem;
  cursor: pointer; }

.add-to-cart-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(53, 53, 53, 0.137);
  border-radius: 50%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-out; }

.add-to-cart-btn:hover:before,
.add-to-cart-btn:focus:before,
.add-to-cart-btn:active:before {
  transform: scale(2); }

.productHeader__section {
  width: 100%;
  height: 380px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; }
  .productHeader__section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4; }
  .productHeader__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    font-family: "Suez One", serif;
    z-index: 10; }
  .productHeader__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center;
    z-index: 10; }
  .productHeader__section-properties {
    display: flex;
    z-index: 10; }
    .productHeader__section-properties p {
      color: white;
      border-left: 1px solid white;
      font-size: 1.8rem;
      padding: 0 5px;
      margin-left: 3px; }
      .productHeader__section-properties p:first-child {
        border: 0px; }
    .productHeader__section-properties span {
      color: white;
      font-size: 1.8rem; }

.contactPage__section {
  width: 100%;
  height: 380px;
  margin-top: 1rem;
  background-color: #666;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.hamiltonbeach.com/media/campaigns/support-banner-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; }
  .contactPage__section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6; }
  .contactPage__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    font-family: "Suez One", serif;
    z-index: 10; }
  .contactPage__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center;
    z-index: 10; }

.contactPage-main {
  max-width: 850px;
  margin: 1rem auto; }
  .contactPage-main-locationDetails {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0; }
    @media screen and (max-width: 870px) {
      .contactPage-main-locationDetails {
        flex-direction: column;
        align-items: center; } }

.contact {
  max-width: 870px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem auto; }
  .contact-topFields, .contact-bottomFields {
    display: flex; }
    @media screen and (max-width: 570px) {
      .contact-topFields, .contact-bottomFields {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%; } }
    .contact-topFields-image, .contact-bottomFields-image {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 3rem; }
      @media screen and (max-width: 570px) {
        .contact-topFields-image, .contact-bottomFields-image {
          width: 90%; } }
      .contact-topFields-image-input, .contact-bottomFields-image-input {
        width: 39.6rem;
        height: 3.5rem;
        margin: 2.5rem 0;
        font-size: 17px;
        cursor: pointer;
        transition: .3s; }
        @media screen and (max-width: 870px) {
          .contact-topFields-image-input, .contact-bottomFields-image-input {
            width: 23.6rem; } }
        .contact-topFields-image-input:hover, .contact-bottomFields-image-input:hover {
          box-shadow: 3px 3px 5px grey; }
        .contact-topFields-image-input:focus, .contact-bottomFields-image-input:focus {
          outline: none; }
        .contact-topFields-image-input:before, .contact-bottomFields-image-input:before {
          display: flex;
          align-items: center;
          justify-content: center;
          content: "+ הוסף תמונה";
          background-color: #000000;
          color: #ffffff;
          position: absolute;
          top: 20px;
          bottom: 25px;
          left: 0;
          right: 0; }
          @media screen and (max-width: 870px) {
            .contact-topFields-image-input:before, .contact-bottomFields-image-input:before {
              width: 23.6rem; } }
          @media screen and (max-width: 570px) {
            .contact-topFields-image-input:before, .contact-bottomFields-image-input:before {
              width: 100%; } }
    .contact-topFields-email, .contact-topFields-name, .contact-topFields-phone, .contact-bottomFields-email, .contact-bottomFields-name, .contact-bottomFields-phone {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 3rem; }
      @media screen and (max-width: 570px) {
        .contact-topFields-email, .contact-topFields-name, .contact-topFields-phone, .contact-bottomFields-email, .contact-bottomFields-name, .contact-bottomFields-phone {
          width: 90%; } }
      .contact-topFields-email-input, .contact-topFields-name-input, .contact-topFields-phone-input, .contact-bottomFields-email-input, .contact-bottomFields-name-input, .contact-bottomFields-phone-input {
        width: 36rem;
        padding: 1.3rem 0.2rem;
        text-align: end;
        height: 3.5rem;
        margin: 2.5rem 0;
        background-color: rgba(255, 255, 255, 0.742);
        font-size: 17px;
        border: none;
        border-bottom: 1px solid grey; }
        @media screen and (max-width: 870px) {
          .contact-topFields-email-input, .contact-topFields-name-input, .contact-topFields-phone-input, .contact-bottomFields-email-input, .contact-bottomFields-name-input, .contact-bottomFields-phone-input {
            width: 20rem; } }
        @media screen and (max-width: 570px) {
          .contact-topFields-email-input, .contact-topFields-name-input, .contact-topFields-phone-input, .contact-bottomFields-email-input, .contact-bottomFields-name-input, .contact-bottomFields-phone-input {
            width: 90%; } }
        .contact-topFields-email-input:focus, .contact-topFields-name-input:focus, .contact-topFields-phone-input:focus, .contact-bottomFields-email-input:focus, .contact-bottomFields-name-input:focus, .contact-bottomFields-phone-input:focus {
          border-bottom: 3px solid #0062ff;
          outline: none; }
          .contact-topFields-email-input:focus + #email-icon,
          .contact-topFields-email-input:focus + #name-icon,
          .contact-topFields-email-input:focus + #phone-icon, .contact-topFields-name-input:focus + #email-icon,
          .contact-topFields-name-input:focus + #name-icon,
          .contact-topFields-name-input:focus + #phone-icon, .contact-topFields-phone-input:focus + #email-icon,
          .contact-topFields-phone-input:focus + #name-icon,
          .contact-topFields-phone-input:focus + #phone-icon, .contact-bottomFields-email-input:focus + #email-icon,
          .contact-bottomFields-email-input:focus + #name-icon,
          .contact-bottomFields-email-input:focus + #phone-icon, .contact-bottomFields-name-input:focus + #email-icon,
          .contact-bottomFields-name-input:focus + #name-icon,
          .contact-bottomFields-name-input:focus + #phone-icon, .contact-bottomFields-phone-input:focus + #email-icon,
          .contact-bottomFields-phone-input:focus + #name-icon,
          .contact-bottomFields-phone-input:focus + #phone-icon {
            color: #0062ff;
            font-size: 30px; }
          .contact-topFields-email-input:focus:invalid, .contact-topFields-name-input:focus:invalid, .contact-topFields-phone-input:focus:invalid, .contact-bottomFields-email-input:focus:invalid, .contact-bottomFields-name-input:focus:invalid, .contact-bottomFields-phone-input:focus:invalid {
            border-bottom: 3px solid #ff7b00;
            outline: none;
            text-align: end; }
            .contact-topFields-email-input:focus:invalid + #email-icon,
            .contact-topFields-email-input:focus:invalid + #name-icon,
            .contact-topFields-email-input:focus:invalid + #phone-icon, .contact-topFields-name-input:focus:invalid + #email-icon,
            .contact-topFields-name-input:focus:invalid + #name-icon,
            .contact-topFields-name-input:focus:invalid + #phone-icon, .contact-topFields-phone-input:focus:invalid + #email-icon,
            .contact-topFields-phone-input:focus:invalid + #name-icon,
            .contact-topFields-phone-input:focus:invalid + #phone-icon, .contact-bottomFields-email-input:focus:invalid + #email-icon,
            .contact-bottomFields-email-input:focus:invalid + #name-icon,
            .contact-bottomFields-email-input:focus:invalid + #phone-icon, .contact-bottomFields-name-input:focus:invalid + #email-icon,
            .contact-bottomFields-name-input:focus:invalid + #name-icon,
            .contact-bottomFields-name-input:focus:invalid + #phone-icon, .contact-bottomFields-phone-input:focus:invalid + #email-icon,
            .contact-bottomFields-phone-input:focus:invalid + #name-icon,
            .contact-bottomFields-phone-input:focus:invalid + #phone-icon {
              color: #ff7b00;
              font-size: 3.1rem; }
          .contact-topFields-email-input:focus + #email-icon + p,
          .contact-topFields-email-input:focus + #name-icon + p,
          .contact-topFields-email-input:focus + #phone-icon + p, .contact-topFields-name-input:focus + #email-icon + p,
          .contact-topFields-name-input:focus + #name-icon + p,
          .contact-topFields-name-input:focus + #phone-icon + p, .contact-topFields-phone-input:focus + #email-icon + p,
          .contact-topFields-phone-input:focus + #name-icon + p,
          .contact-topFields-phone-input:focus + #phone-icon + p, .contact-bottomFields-email-input:focus + #email-icon + p,
          .contact-bottomFields-email-input:focus + #name-icon + p,
          .contact-bottomFields-email-input:focus + #phone-icon + p, .contact-bottomFields-name-input:focus + #email-icon + p,
          .contact-bottomFields-name-input:focus + #name-icon + p,
          .contact-bottomFields-name-input:focus + #phone-icon + p, .contact-bottomFields-phone-input:focus + #email-icon + p,
          .contact-bottomFields-phone-input:focus + #name-icon + p,
          .contact-bottomFields-phone-input:focus + #phone-icon + p {
            opacity: 1;
            animation-duration: 0.3s;
            animation-name: moveUp;
            animation-fill-mode: forwards; }
          .contact-topFields-email-input:focus::placeholder, .contact-topFields-name-input:focus::placeholder, .contact-topFields-phone-input:focus::placeholder, .contact-bottomFields-email-input:focus::placeholder, .contact-bottomFields-name-input:focus::placeholder, .contact-bottomFields-phone-input:focus::placeholder {
            opacity: 0; }
        .contact-topFields-email-input::placeholder, .contact-topFields-name-input::placeholder, .contact-topFields-phone-input::placeholder, .contact-bottomFields-email-input::placeholder, .contact-bottomFields-name-input::placeholder, .contact-bottomFields-phone-input::placeholder {
          text-align: end; }
      .contact-topFields-email p, .contact-topFields-name p, .contact-topFields-phone p, .contact-bottomFields-email p, .contact-bottomFields-name p, .contact-bottomFields-phone p {
        position: absolute;
        right: 45px;
        bottom: 0;
        font-size: 12px;
        color: grey;
        opacity: 0; }
  .contact-text {
    display: flex; }
    @media screen and (max-width: 570px) {
      .contact-text {
        width: 90%; } }
    .contact-text-textarea {
      width: 85rem;
      height: 30rem;
      font-size: 2.5rem;
      text-align: end;
      outline: none; }
      @media screen and (max-width: 870px) {
        .contact-text-textarea {
          width: 53rem; } }
      @media screen and (max-width: 570px) {
        .contact-text-textarea {
          width: 100%; } }
  .contact-submitButton {
    padding: 0.1rem 6rem;
    font-size: 2rem;
    margin: 1rem 0;
    color: #ffffff;
    border-radius: 3px;
    border: 5px solid #c82027;
    cursor: pointer;
    background-color: #c82027; }

#email-icon,
#name-icon,
#phone-icon {
  margin-left: 1rem;
  font-size: 2.6rem;
  color: black; }

.officeDetails {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 610px;
  margin-bottom: 3rem; }
  @media screen and (max-width: 870px) {
    .officeDetails {
      align-items: center; } }
  .officeDetails-title {
    text-decoration: underline;
    font-family: "Suez One", serif;
    font-size: 3rem;
    text-align: end; }
    @media screen and (max-width: 870px) {
      .officeDetails-title {
        text-align: center; } }
  .officeDetails-info {
    display: flex;
    flex-direction: column;
    text-align: end;
    flex: 1; }
    @media screen and (max-width: 870px) {
      .officeDetails-info {
        text-align: center;
        flex: 0; } }
    .officeDetails-info p {
      font-size: 2rem; }
    .officeDetails-info p span {
      color: #ff3c3c;
      font-size: 2rem; }

.mapouter {
  text-align: right;
  height: 400px;
  width: 400px; }
  @media screen and (max-width: 570px) {
    .mapouter {
      height: 370px;
      width: 370px; } }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 400px;
  display: block; }
  @media screen and (max-width: 570px) {
    .gmap_canvas {
      height: 370px;
      width: 370px; } }
  .gmap_canvas iframe {
    height: 400px;
    width: 400px;
    margin: 0 auto; }
    @media screen and (max-width: 570px) {
      .gmap_canvas iframe {
        height: 370px;
        width: 370px; } }

.storeDetails {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 610px; }
  @media screen and (max-width: 870px) {
    .storeDetails {
      align-items: center; } }
  .storeDetails-title {
    text-decoration: underline;
    font-family: "Suez One", serif;
    font-size: 3rem;
    text-align: end; }
    @media screen and (max-width: 870px) {
      .storeDetails-title {
        text-align: center; } }
  .storeDetails-info {
    display: flex;
    flex-direction: column;
    text-align: end;
    flex: 1; }
    @media screen and (max-width: 870px) {
      .storeDetails-info {
        text-align: center;
        flex: 0; } }
    .storeDetails-info p {
      font-size: 2rem; }
    .storeDetails-info p span {
      color: #ff3c3c;
      font-size: 2rem; }

.authorizedSellers__section {
  width: 100%;
  height: 380px;
  margin-top: 1rem;
  background-color: #666;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.hamiltonbeach.com/media/campaigns/support-banner-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; }
  .authorizedSellers__section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6; }
  .authorizedSellers__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    font-family: "Suez One", serif;
    z-index: 10; }
  .authorizedSellers__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center;
    z-index: 10; }

.authorizedSellers-main {
  max-width: 1400px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .authorizedSellers-main-chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0; }
    .authorizedSellers-main-chart-header {
      display: flex;
      text-align: end;
      font-size: 3rem;
      font-weight: bolder;
      align-items: flex-end; }
      .authorizedSellers-main-chart-header h1 {
        flex: 1;
        border: 1px solid black;
        text-align: center;
        font-weight: 900;
        margin: 0; }
    .authorizedSellers-main-chart-line {
      display: flex;
      text-align: end;
      justify-content: space-around; }
      .authorizedSellers-main-chart-line p {
        flex: 1;
        font-size: 1.8rem;
        border: 1px solid black;
        text-align: center;
        margin: 0; }

.serviceLocations__section {
  width: 100%;
  height: 380px;
  margin-top: 1rem;
  background-color: #666;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.hamiltonbeach.com/media/campaigns/support-banner-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; }
  .serviceLocations__section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6; }
  .serviceLocations__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    font-family: "Suez One", serif;
    z-index: 10; }
  .serviceLocations__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center;
    z-index: 10; }

.serviceLocations-main {
  max-width: 1400px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .serviceLocations-main-title {
    font-size: 4rem;
    border-bottom: 2px solid black;
    font-family: "Suez One", serif; }
  .serviceLocations-main-para {
    font-size: 2rem;
    margin: 2rem 0; }
  .serviceLocations-main-chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0; }
    .serviceLocations-main-chart-header {
      display: flex;
      text-align: end;
      font-size: 3rem;
      font-weight: bolder;
      align-items: flex-end; }
      .serviceLocations-main-chart-header h1 {
        flex: 1;
        border: 1px solid black;
        text-align: center;
        font-weight: 900;
        margin: 0; }
    .serviceLocations-main-chart-line {
      display: flex;
      text-align: end;
      justify-content: space-around; }
      .serviceLocations-main-chart-line p {
        flex: 1;
        font-size: 1.8rem;
        border: 1px solid black;
        text-align: center;
        margin: 0; }

.spareParts__section {
  width: 100%;
  height: 380px;
  margin-top: 1rem;
  background-color: #666;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.hamiltonbeach.com/media/cat-headers/category_banner_accessories.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative; }
  .spareParts__section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6; }
  .spareParts__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    font-family: "Suez One", serif;
    z-index: 10; }
  .spareParts__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center;
    z-index: 10; }

.spareParts-main {
  max-width: 1400px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.foodType__section {
  width: 100%;
  height: 380px;
  margin-top: 1rem;
  background-color: #43ba43;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .foodType__section-type {
    font-size: 1.8rem;
    padding: 2px 5px;
    background-color: #fc0;
    box-shadow: 1px 2px 1px black;
    font-family: "Suez One", serif; }
  .foodType__section-title {
    color: white;
    margin-bottom: 20px;
    font-family: "Suez One", serif;
    font-size: 7rem;
    text-shadow: 1px 2px 5px gray;
    text-align: center; }
