@keyframes moveUp {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -50px);
    }
}

@keyframes moveLeft {
    0% {
        width: 0;
    }
    100% {
        width: 330px;
        border-bottom: 1px solid $yellow;
    }
}