
//COLORS
$base-red: rgb(212, 0, 0);
// $main-color: #79b722;
$main-color: black;

//FONT-SIZE
$small-size: 1rem;
$medium-size: 1.5rem;
$large-size: 2rem;
$xl-size: 3rem;
$xxl-size: 4rem;


//FONT-FAMILY

$suez-font: 'Suez One', serif;
$david-font: 'David Libre', serif;

