
//COLORS
$blue-light: #87cefa;
$grey-dark: #666;
$grey-dark2: #383838;
$grey-light: #ebebeb;
$main-color: #000000;
$orange: #ffb43c;
$orange-light: #ffdf76;
$red: #ff3c3c;
$red-dark: #c82027;
$white: #ffffff;
$yellow: #fc0;

$grey-dark: #242424;

$purple: rgb(57, 5, 78);

//FONT-SIZE
$small-size: 1rem;
$medium-size: 1.5rem;
$large-size: 2rem;
$xl-size: 3rem;
$xxl-size: 4rem;


//FONT-FAMILY
$suez-font: 'Suez One', serif;
$david-font: 'David Libre', serif;
$sans-serif: sans-serif;
$gill-sans: 'Gill Sans';
